h1 {
  color: #FFFFFF;
  background-color: #0A2340;
  font-family: Calibri, sans-serif;
  font-size: 2em;
  margin: 0;
  padding: 1.5rem;
}

body {
  color: #007BFF;
  text-align: center;
}

p {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-heading {
  border-bottom: 2px solid #007BFF;
  padding-bottom: 10px;
}
