h1 {
  color: #FFFFFF;
  background-color: #0A2340;
  font-family: Calibri, sans-serif;
  font-size: 3em;
  text-align: left;
  font-weight: 350;
  margin: 0px;
  padding: 1.5rem;
}

body {
  color: #FFFFFF;
  text-align: left;
}

p {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-heading {
  border-bottom: 2px solid #007BFF;
  padding-bottom: 10px;
}
